                    <div class="menu-and-contact-wrap">
                        <h2 class="contact-number "><i class="fa fa-phone"></i><span class="desktop-version">1-800-555-1234</span><a class="mobile-version" href="tel://1-800-555-1234" title="Make a Call">1-800-555-1234</a><span class="outer-strip" style="right: -27.5px; width: 27.5px;"></span></h2>

<nav class="main-menu">
                            <div class="menu-main-menu-container">
                                <ul id="menu-main-menu" class="clearfix">
                                    <li id="menu-item-3646" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-3646">
                                        <a href="http://realhomes.inspirythemes.biz/">Imobile in Proprietatea bancii</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/list/imobil?status=1&type=1">Apartamente</a></li>
                                            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/list/imobil?status=1&type=2">Case/Vile</a></li>
                                            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/list/imobil?status=1&type=3">Case de vacanta/Cabane</a></li>
                                            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/list/imobil?status=1&type=4">Terenuri</a></li>
                                            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/list/imobil?status=1&type=5">Ansambluri rezidentiale</a></li>
                                            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/list/imobil?status=1&type=6">Spatii comerciale</a></li>
                                            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/list/imobil?status=1&type=7">Spatii de birouri</a></li>
                                            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/list/imobil?status=1&type=8">Spatii industriale</a></li>
                                            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/list/imobil?status=1&type=9">Hoteluri si pensiuni</a></li>
                                            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/list/imobil?status=1&type=10">Benzinarii</a></li>
                                            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/list/imobil?status=1&type=11">Ferme</a></li>
                                        </ul>
                                    </li>
                                    <li id="menu-item-3654" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-129 current_page_item current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-3654">
                                        <a href="http://realhomes.inspirythemes.biz/listing/"><span style="font-size:13px">Imobile in lichidare patrimoniala</span></a>
                                        <ul class="sub-menu" style="display: none;">
                                            
                                            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/list/imobil?status=2&type=1">Apartamente</a></li>
                                            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/list/imobil?status=2&type=2">Case/Vile</a></li>
                                            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/list/imobil?status=2&type=3">Case de vacanta/Cabane</a></li>
                                            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/list/imobil?status=2&type=4">Terenuri</a></li>
                                            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/list/imobil?status=2&type=5">Ansambluri rezidentiale</a></li>
                                            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/list/imobil?status=2&type=6">Spatii comerciale</a></li>
                                            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/list/imobil?status=2&type=7">Spatii de birouri</a></li>
                                            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/list/imobil?status=2&type=8">Spatii industriale</a></li>
                                            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/list/imobil?status=2&type=9">Hoteluri si pensiuni</a></li>
                                            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/list/imobil?status=2&type=10">Benzinarii</a></li>
                                            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/list/imobil?status=2&type=11">Ferme</a></li>
                                        </ul>
                                    </li>
                                    <li id="menu-item-3641" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3641">
                                        <a href="http://realhomes.inspirythemes.biz/property/15421-southwest-39th-terrace/">Imobile in executare silita</a>
                                        <ul class="sub-menu"><li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/list/imobil?status=3&type=1">Apartamente</a></li>
                                            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/list/imobil?status=3&type=2">Case/Vile</a></li>
                                            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/list/imobil?status=3&type=3">Case de vacanta/Cabane</a></li>
                                            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/list/imobil?status=3&type=4">Terenuri</a></li>
                                            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/list/imobil?status=3&type=5">Ansambluri rezidentiale</a></li>
                                            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/list/imobil?status=3&type=6">Spatii comerciale</a></li>
                                            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/list/imobil?status=3&type=7">Spatii de birouri</a></li>
                                            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/list/imobil?status=3&type=8">Spatii industriale</a></li>
                                            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/list/imobil?status=3&type=9">Hoteluri si pensiuni</a></li>
                                            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/list/imobil?status=3&type=10">Benzinarii</a></li>
                                            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/list/imobil?status=3&type=11">Ferme</a></li>
                                        </ul>
                                    </li>
                                    <li id="menu-item-3641" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3641">
                                        <a href="http://realhomes.inspirythemes.biz/property/15421-southwest-39th-terrace/">Bunuri mobile recuperate</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/list/mobil?status=1&type=1">Autoturisme</a></li>
                                            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/list/mobil?status=1&type=2">Autocamioane</a></li>
                                            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/list/mobil?status=1&type=3">Autoutilitare</a></li>
                                            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/list/mobil?status=1&type=4">Remarci/semiremarci</a></li>
                                            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/list/mobil?status=1&type=5">Echipamente</a></li>
                                            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/list/mobil?status=1&type=6">Altele</a></li>
                                        </ul>
                                    </li>
                                    <li id="menu-item-3656" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3656"><a href="http://realhomes.inspirythemes.biz/contact-us/">Contact </a></li>
                                </ul>
                                <select class="responsive-nav">
                                    <option value="" selected="">Go to...</option>
                                    <option value="http://realhomes.inspirythemes.biz/"> Home</option>
                                    <option value="http://realhomes.inspirythemes.biz/?module=revolution-slider"> -  Home with Revolution Slider</option>
                                    <option value="http://realhomes.inspirythemes.biz/?module=properties-map"> -  Home with Google Map</option>
                                    <option value="http://realhomes.inspirythemes.biz/?news-on-home=true"> -  Home with News Posts</option>
                                    <option value="http://realhomes.inspirythemes.biz/?module=slides-slider"> -  Home with Custom Slider</option>
                                    <option value="http://realhomes.inspirythemes.biz/?module=properties-slider"> -  Home with Properties Slider</option>
                                    <option value="http://realhomes.inspirythemes.biz/?module=banner"> -  Home with Simple Banner</option>
                                    <option value="http://realhomes.inspirythemes.biz/listing/"> Listing</option>
                                    <option value="http://realhomes.inspirythemes.biz/listing/"> -  Simple Listing</option>
                                    <option value="http://realhomes.inspirythemes.biz/listing/?module=properties-map"> -  Simple Listing with Google Map</option>
                                    <option value="http://realhomes.inspirythemes.biz/grid-listing/"> -  Grid Listing</option>
                                    <option value="http://realhomes.inspirythemes.biz/grid-listing/?module=properties-map"> -  Grid Listing with Google Map</option>
                                    <option value="http://realhomes.inspirythemes.biz/property/15421-southwest-39th-terrace/"> Property</option>
                                    <option value="http://realhomes.inspirythemes.biz/property/15421-southwest-39th-terrace/"> -  Default – Variation</option>
                                    <option value="http://realhomes.inspirythemes.biz/property/15421-southwest-39th-terrace/?variation=agent-in-sidebar"> -  Agent in Sidebar – Variation</option>
                                    <option value="http://realhomes.inspirythemes.biz/property/15421-southwest-39th-terrace/?slider-type=thumb-on-bottom"> -  Gallery – Variation</option>
                                    <option value="http://realhomes.inspirythemes.biz/news/"> News</option>
                                    <option value="http://realhomes.inspirythemes.biz/3-columns-gallery/"> Gallery</option>
                                    <option value="http://realhomes.inspirythemes.biz/2-columns-gallery/"> -  2 Columns Gallery</option>
                                    <option value="http://realhomes.inspirythemes.biz/3-columns-gallery/"> -  3 Columns Gallery</option>
                                    <option value="http://realhomes.inspirythemes.biz/4-columns-gallery/"> -  4 Columns Gallery</option>
                                    <option value="#"> Pages</option>
                                    <option value="http://realhomes.inspirythemes.biz/agents/"> -  Agents</option>
                                    <option value="http://realhomes.inspirythemes.biz/property-status/for-rent/"> -  For Rent</option>
                                    <option value="http://realhomes.inspirythemes.biz/property-status/for-sale/"> -  For Sale</option>
                                    <option value="http://realhomes.inspirythemes.biz/property-city/miami/"> -  Miami City</option>
                                    <option value="http://realhomes.inspirythemes.biz/faqs-filterable/"> -  FAQs</option>
                                    <option value="http://realhomes.inspirythemes.biz/faqs-filterable/"> -  -  FAQs – Filterable</option>
                                    <option value="http://realhomes.inspirythemes.biz/faqs-toggle-style/"> -  -  FAQs – Toggle Style</option>
                                    <option value="http://realhomes.inspirythemes.biz/faqs-simple-list/"> -  -  FAQs – Simple List</option>
                                    <option value="http://realhomes.inspirythemes.biz/testimonials/"> -  Testimonials</option>
                                    <option value="http://realhomes.inspirythemes.biz/typography/"> -  Typography</option>
                                    <option value="http://realhomes.inspirythemes.biz/columns/"> -  Columns</option>
                                    <option value="http://realhomes.inspirythemes.biz/idx/"> -  IDX using dsIDXpress Plugin</option>
                                    <option value="#"> Types</option>
                                    <option value="http://realhomes.inspirythemes.biz/property-type/single-family-home/"> -  Single Family Home</option>
                                    <option value="http://realhomes.inspirythemes.biz/property-type/apartment-building/"> -  Apartment Building</option>
                                    <option value="http://realhomes.inspirythemes.biz/property-type/apartment/"> -  Apartment</option>
                                    <option value="http://realhomes.inspirythemes.biz/property-type/office/"> -  Office</option>
                                    <option value="http://realhomes.inspirythemes.biz/property-type/shop/"> -  Shop</option>
                                    <option value="http://realhomes.inspirythemes.biz/property-type/villa/"> -  Villa</option>
                                    <option value="http://realhomes.inspirythemes.biz/property-type/condominium/"> -  Condominium</option>
                                    <option value="http://realhomes.inspirythemes.biz/contact-us/"> Contact us</option>
                                </select>
                            </div>
                        </nav>
                    </div>        