{% extends "UserBundle::layout.html.twig" %}
{% block title %}
Login - {{ parent() }}
{% endblock %}

{% block container %}

<body class="sign-in-bg">
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">

            {% if error %}
                <div class="alert alert-danger fade in">
                    <strong><i class="icon-warning-sign"></i> erreur : </strong> {{ error|trans({}, 'FOSUserBundle') }}
                </div>
            {% endif %}
            {# <h1 class="text-center login-title">Sign in to continue to Bootsnipp</h1> #}
            <div class="sign-in-head text-center">
                <h1></h1>
            </div>
            <div class="account-wall">
                <img class="profile-img" src="{{ asset("uploads/img/anonymous.png") }}"
                    alt="">
                <form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin">
                <input type="text" class="form-control" placeholder="Username" name="_username" value="{{ last_username }}" required autofocus>
                <input type="password" class="form-control" placeholder="Password" name="_password" required>
                <button class="btn btn-lg btn-primary btn-block" type="submit">
                    Sign in</button>
                <label class="checkbox pull-left">
                    <input type="checkbox" name="_remember_me" value="on">
                    Garder ma session active
                </label>
                <span class="clearfix"></span>
                </form>
            </div>
            <a href="#" class="text-center new-account">Mots de pass oublié ? </a>
        </div>
    </div>
</div>

</body>
{% endblock container %}
